<table class="table w-50 text-center mt-5" style="position: relative; left: 50%; transform: translateX(-50%);">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Valor</th>
      <th scope="col">Conta</th>
    </tr>
  </thead>
  <tbody *ngIf="transferencias.length > 0; else listaVazia">
    <tr class="table-primary" *ngFor="let transferencia of transferencias">
      <td>{{transferencia.data | date: 'short'}}</td>
      <td>{{transferencia.valor | currency}}</td>
      <td>{{transferencia.destino}}</td>
    </tr>
  </tbody>
</table>

<ng-template #listaVazia>
  <p style="border: 0;">Nenhuma transferência cadastrada</p>
</ng-template>
